.child{
    width: 250px;
    height: 250px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.parent{
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
}