header{
    background: bisque;
}
.myname{
    float: left;
    font-size: 2rem;
    back
}
.pages{
    float: right;
    font-size: 2rem;
    text-decoration: underline;
}
.pages a.active{
    color: inherit;
}
.pages a{
    color: inherit;
}
