header{
    background-color: aqua;
    padding: 2rem;
    width: 100%;
}
.myname{
    float: left;
    font-size: 2rem;
}
.pages{
    float: right;
    font-size: 2rem;
    text-decoration: underline;
    margin-right: ;
}
.pages a.active{
    color: inherit;
}
.pages a{
    color: inherit;
}
body{
    background-color: darkcyan;
}

