header{
    background-color: aqua;
    padding: 2rem;
    margin: 5px;
    margin-right: 5px;
    width: 100;
}
.myname{
    float: left;
    font-size: 2rem;
}
.pages{
    float: right;
    font-size: 2rem;
}
.pages a.active{
    color: inherit;
}
.pages a{
    color: inherit;
}
body{
    background-color: darkcyan;
}


