* {
    box-sizing: border-box;
}

body {
    background-image: url("../stars.jpg");
    background-size: cover;
    min-height: 100vh;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 2rem;
}

h1 {
    font-size: 10rem;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    }

.days-c {
    text-align: center;
}
.days-c span {
    font-size: 1.3rem;
}

.hours-c {
    text-align: center;
}
.hours-c span {
    font-size: 1.3rem;
}

.minutes-c {
    text-align: center;
}
.minutes-c span {
    font-size: 1.3rem;
}

.seconds-c {
    text-align: center;
}
.seconds-c span {
    font-size: 1.3rem;
}